--extra-index-url https://download.pytorch.org/whl/cu124
imageio
lightning
matplotlib
meshcat
numpy
open3d
opencv-python
pupil-apriltags
pyserial
pytest
pytest-benchmark
scikit-fmm==2023.4.2
scipy
tensorboard
torch
torchaudio
torchcubicspline @ git+https://github.com/patrick-kidger/torchcubicspline.git
torchvision
tqdm
ujson
