--extra-index-url https://download.pytorch.org/whl/cu124
torchcubicspline @ git+https://github.com/patrick-kidger/torchcubicspline.git
meshcat
pupil-apriltags
opencv-python
scikit-fmm==2023.4.2
numpy
open3d
imageio
pytest
pytest-benchmark
pyserial
tqdm
ujson
torch
torchvision
torchaudio
